.idea/
.venv/
__pycache__/
*.py[cod]

/.env
/resources/
/db/
/logs/
/generated_files/
/uploaded_files/
/mcp_tools.json

/src/resources/.env
/src/resources/db/
/src/resources/logs/
/src/resources/generated_files/
/src/resources/uploaded_files/

web/node_modules/
web/dist/
web/release/
desktop/node_modules/
desktop/dist/
desktop/release/
